body {
    padding: 0;
    margin: 0;
    background: #3c3c3c;
    background-size: cover;
    box-sizing: border-box;
  }
  
  h3 {
    color: white;
    text-align: center;
    top: 77%;
    left: 47%;
    font-family: 'Roboto', sans-serif;
    position: absolute;
  }